<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @estudium.nombre %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @estudium.categoria %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @estudium.descripcion %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @estudium.ubicacion %>
</p>

<p>
  <strong>Sede:</strong>
  <%= @estudium.sede %>
</p>

<p>
  <strong>Carreras:</strong>
  <%= @estudium.carreras %>
</p>

<p>
  <strong>Modo:</strong>
  <%= @estudium.modo %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @estudium.nivel %>
</p>

<%= link_to 'Edit', edit_estudium_path(@estudium) %> |
<%= link_to 'Back', estudia_path %>
